<div class="home">
	<h1>Standard Apprentice: a game for people who want to work at Standard Code</h1>
	<p>Nice! You pulled down the repo. It's a basic Rails scaffold and a few bells and whistles that we tend to use in many of our projects. You can read about the extra's here: <a href="https://github.com/codeisstandard/rails-starter-kit">github.com/codeisstandard/rails-starter-kit</a></p>
	<p>Ok, let's get started.</p>
	<ol>
		<li>Create a homepage. It can be about anything. Just give us a sense of you and what you like!</li>
		<li>Create a FAQ page about yourself and link to it. We'd like to route to /answers.</li>
		<li>Create a simple scaffold to add content to your FAQ page and answer the following questions:
			<ul>
				<li>What is your name?</li>
				<li>What is your email?</li>
				<li>What is your Github url?</li>
				<li>What is your LinkedIn url?</li>
				<li>Tell us about your favorite coding project of all time? What was great about it?</li>
			</ul>
			<small>*You can <a href="http://api.rubyonrails.org/classes/ActionController/HttpAuthentication/Basic.html" target="_blank">password protect</a> this page if you like. Just remember to share the password with us.</small>
		</li>
		<li>Deploy the site to Heroku.</li>
		<li>Send your Heroku app link to <a href="mailto:tj@standardco.de">tj@standardco.de</a>. We will reply to your email with one more challenge!</li>
	</ol>
	<p>Game on!</p>
</div>