<div class="row">
	<article class="about-me col-xs-10 col-xs-offset-1">
	  <header>
	  	<h2 class="text-center">About Me</h2>
	  </header>
	  <section class="my-story">
	  	  <h3>My Story</h3>
	      <p>
			After spending a number of years in various parts of the rural South, South America, and several institutions of higher education, I settled back in Atlanta as my home. It’s the city of the Southeast, the place where I met my wife, and it has some of the most exciting arts and culture happenings for miles around. I love Atlanta, and I’m thrilled to be back in the 404. When I’m not coding JavaScript, you will probably find me swimming laps, catching a Braves game, listening to jazz music, or trying to find the best sushi-burger in town (because wonderful things like that exist in Atlanta).
	      </p>
	  </section>
	  <section>
	    <h3>My Passion</h2>
	    <p>
	      I moved to Atlanta in the summer of 2016 in order to build quality websites that empower people to do the things they love. Whether you are a company seeking to advance against the competition, a community organizer seeking to make your neighborhood a better place to live, an artist seeking to share your gifts with a larger audience, or anything in-between, I want to work with you to turn your goals into realities.
	    </p>
	  </section>
	  <section>
	  	<h3>My Point of View</h3>
	  	<p>
	  		Software design is about creating a smooth and memorable experience for the user that captures the values, image, and vision of the client. First impressions are important, and few things make a more powerful first impression than a well-functioning site or app that advances your mission and looks great doing it.
	  	</p>
	  </section>	  
	  <section>
	  	<h3>Fun Fact</h3>
	  	<p>
	  		This is the first project I have ever coded in Ruby on Rails. My primary experience is HTML, SASS/CSS3, JavaScript, and AngularJS. I have also done some WordPress work and theme customization. My portfolio is built in WordPress, and you may view it here: <a href="http://WilliamJohnsonJr.com">http://WilliamJohnsonJr.com</a>
	  	</p>
	  </section>
	</article>
</div>