<div class="home">
	<h1>Standard Apprentice: a game for people who want to work at Standard Code</h1>
	<p>Nice! You figured out how to make your browser look like an iPhone 6! Why is this important? Since 50% of all traffic is mobile, it's critical that you know how to test things in mobile viewing mode from your browser.
	<p>You also pulled down the repo, bundled, migrated, and have postgresql running! This is a basic Rails scaffold and a few bells and whistles that we tend to use in many of our projects. You can read about the extras here: <a href="https://github.com/codeisstandard/rails-starter-kit">github.com/codeisstandard/rails-starter-kit</a></p>
	<p>So let's move on to your next challenge!</p>
	<ol>
		<li>Create a homepage. It can be about anything. Just give us a sense of you and what you like!</li>
		<li>Create a FAQ page about yourself and link to it. We'd like to route to /answers.</li>
		<li>Create a simple scaffold to add content to your FAQ page and answer the following questions:
			<ul>
				<li>What is your name?</li>
				<li>What is your email?</li>
				<li>What is your Github url?</li>
				<li>What is your LinkedIn url?</li>
				<li>Tell us about your favorite coding project of all time? What was great about it?</li>
			</ul>
			<small>*You can <a href="http://api.rubyonrails.org/classes/ActionController/HttpAuthentication/Basic.html" target="_blank">password protect</a> this page if you like. Just remember to share the password with us.</small>
		</li>
		<li>Deploy the site to Heroku.</li>
		<li>Send your Heroku app link to <a href="mailto:apprentice@standardco.de">apprentice@standardco.de</a>. We will reply to your email with one more challenge!</li>
	</ol>
	<p>Remember, if you have issues, ask for help!</p>
	<p>Game on!</p>
</div>
