// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: darken(#6E7070, 20%);
	color: lighten(#FFBC00, 10%);
	border-right: 80px solid #339BF5;
	min-height: 110vh;
	margin-top:-20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	@media (max-width: 768px) {
		border-top: 80px solid #339BF5;
		border-right: none;
		min-height: inherit;
		margin-top:0px;
		min-width: 100vw;
		padding-right: 30px;
	}
}

nav {
	text-align: left;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	color: #FFBC00;
	right: 10px;
	top: 46vh;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 4px solid #FFBC00;
	@media (max-width: 768px) {
		top: 5px;
		left: 47%;
	}
	i {
		text-align: center;
	}
}

.home {
	padding: 30px;
	max-width: 50%;
	@media (max-width: 768px) {
		max-width: 100%;
	}
	h1 {
		color: red;
		font-size: 18px;
		margin-top: 0;
	}
}

.main-header {
	padding-top: 20px;
	@media (max-width: 768px) {
		margin-top:0px;
	}
}

#map {
	height: 200px;
}